<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>Welcome to DigArt</h1>
  <% for (var i = 0; i<projects.length; i++){ %>
    <a href="<%=projects[i].url%>"><%=projects[i].name%></a>

  <% }%>
</body>
</html>
